/* Style for tooltips */
.tooltip-inner {
    background-color: #848584; /* Dark background for tooltips */
    color: #ffffff; /* White text color */
    font-size: 0.875rem; /* Font size for tooltips */
}

/* Style for dropdown cells */
.dropdown-cell {
    position: relative;
    cursor: pointer;
}

/* Display the dropdown menu on click */
.dropdown-cell.show .dropdown-menu {
    display: block;
}
